@model RegisterModel
@{
    Layout = "~/Views/Shared/_LayoutHomeOperator.cshtml";
    ViewBag.Title = "注册";
    var Email = ViewBag.Email;
    }

<style>
    .login-info{
        margin:20px 0;
    }
</style>
@using (Html.BeginForm("Step3", "Register"))
{
    @Html.AntiForgeryToken()//避免CSRF攻击
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">注册</h1>
        <p>第二步：验证邮箱</p>
    </div>

    <div class="col-lg-4 offset-lg-4">
        <div class="login-info">
            <div class="form-label-group">
                @Html.DisplayNameFor(m => m.Code)
                (已发送至 @Model.Email)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
        </div>
        <button class="btn btn-lg  btn-primary btn-block" type="submit">下一步</button>
        <div class="text-center">
            @Html.ActionLink("上一步", "Step1")
        </div>
    </div>
        }
