<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/js")
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .login-info {
            margin-top: 20px;
        }
        .field-validation-error {
            color: #f00;
        }
        .field-validation-valid {
            display: none;
        }
        .input-validation-error {
            border: 1px solid #f00;
            background-color: #fee;
        }
        .validation-summary-errors {
            font-weight: bold;
            color: #f00;
        }
        .validation-summary-valid {
            display: none;
        }
    </style>
    @RenderSection("Script")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">两步验证</a>
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
        </nav>
        <div>
            @RenderBody()
        </div>
        @Html.Partial("_PartialPageFooter");
    </div>
</body>
</html>
